.container{
  padding: 10px;
  color: #333;
}
.list-item{
  border: 1px solid #988;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.list-item .left .icon{
  font-size: 40px;
}
.list-item .left span{
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
.right{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.right span:first-child{
  font-weight: 500;
}
.right span:last-child{
  margin-top: 5px;
  font-size: 18px;
}
.pop-box{
  background: #fff;
  padding-top: 20px;
  .input-box{
    margin-right: 20px;
    margin-left: 20px;
  }
  .handle-box{
    margin: 20px;
    span{
      padding: 4px 8px;
      border-radius: 8px;
      background: #eee;
      color: #333;
      font-weight: bold;
    }
  }
  .label-span{
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
  }
  .input{
    border: 1px solid #f5f7f2;
    border-radius: 8px;
    background: #f5f7f2;
    padding: 10px;
  }
}
.icon-container{
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  .inner-box{
    width: 498px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    .active-icon{
      border: 2px solid #333;
    }
    .active-color{
      border: 2px solid #333;
    }
  }
  .icon-box{
    width: 50px;
    height: 50px;
    background: #dcdcdc;
    border-radius: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    svg{
      width: 50%;
      height: 50%;
    }
  }
  .color-box{
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid transparent;
  }
}
.tips{
  margin: 20px;
  text-align: center;
}
